body{
    background-image: url("https://images6.alphacoders.com/379/thumb-1920-379404.jpg");
}

.formprincipal{
    background-color: white;
    width: 30%;
    height: 80%;
    border: 1px solid;
    position: fixed;
    margin-left: 5%;
    margin-top: 5%;
}
.imagenLogo{
    margin-top: 3%;
    margin-left: 30%;
    position: relative;
}
.formtop{
    margin-top: 10%;
}

.form-row{
    margin-left: 5%;
}

.formchoose{
    margin-left: 5%;    
}

.ButtonLogin{
    margin-left: 30%;
    margin-top: 20%;
}